.recent {
    font-size: 1.25rem
}

.project {
    height: 15rem;
}

.card-foot {
    height: 3rem;
}

.star {
    color: #4080bf;
    height: 20px;
    margin-bottom: 5px;
}
.redirect {
    color: #78a2cc;
}

.redirect:hover {
    color: #ffffff;
}

.footer {
    clear:both;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: center;
}