<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="author"             content="Daniel Nicolas Gisolfi" />
        <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>
        <title>Daniel Gisolfi</title>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ url_for('static', filename='vendors/jquery.min.js') }}"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" >
        
        <!-- media icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- devicons -->
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">Daniel Gisolfi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarScalable" aria-controls="NavbarScalable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="NavbarScalable">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#about">About<span class="sr-only">(current)</a> -->
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('static', filename='assets/docs/Resume.pdf')}}">Resume</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="https://github.com/dgisolfi">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/dgisolfi/">linkedin</a>
                </li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="container" style="padding-top:10rem;" id="experience">
                <div class="container-fluid">
                    <div class="jumbotron">
                        <h3 class="display-5 text-info">Experience</h3>
                        <h3 class="display-6">Blockchain Researcher</h3>
                            <div>IBM / Marist Joint Study</div>
                            <div class="text-primary">
                                <p class="text-primary">January 2017 - Present</p>
                                <p>
                                    Working as a researcher on a wide range of technologies for the IBM joint study with Marist College.
                                    <div class="container">
                                        <li>Researching malicious attacks and possible vulnerabilities by creating honeypots to gather attack data</li>
                                        <li>Creating a real-time data pipeline to provide Machine learning and data analytic tools with various malicious attack data </li>
                                        <li>Writing and Implementing a custom API to serve as a point of interaction with a data pipeline</li>
                                        <li>Developing a data analytics tool for graphing, plotting and, analyzing incoming attacks across multiple honeypots</li>
                                        <li>Researching Blockchain and exploring the technology as a data structure</li>
                                        <li>Developing a real time web UI to diagram a dynamic network of peers on a Blockchain</li>
                                    </div>
                                </p>
                        </div>
                        <hr>
                        <h3 class="display-6">Help Desk Operator</h3>
                            <div>Marist College IT Client Services</div>
                                <div class="text-primary">
                                <p>June 2016 - May 2018</p>
                                <p>
                                    Supporting college faculty, staff, and students in person,
                                    on the phone, and via e-mail with various software and hardware.
                                    Used a help desk proccessor within the mainframe to create customer
                                    service requests.
                                    <div class="container">
                                        <li>Provide excellent customer service</li>
                                        <li>Reset user's passwords</li>
                                        <li>Conduct problem determination for technology across campus</li>
                                        <li>Train Incoming IT support student employees</li>
                                    </div>
                                </p>
                            </div>
                    </div>
                </div>
            </div>


            <div class="container" id="skills">
                <div class="container-fluid">
                    <div class="jumbotron">
                        <h3 class="display-5 text-info">Skills</h3>
                        <p>Programing languages & Tools</p>
                        <div class="text-center" style="font-size: 8rem; opacity: 0.7; color: #4080bf;">
                                <i class="devicon-docker-plain-wordmark"></i>
                                <i class="devicon-ubuntu-plain-wordmark"></i>
                                <i class="devicon-git-plain-wordmark"></i>
                                <i class="devicon-mysql-plain-wordmark"></i>
                                <i class="devicon-php-plain"></i>
                                <i class="devicon-python-plain-wordmark"></i>
                                <i class="devicon-nodejs-plain"></i>
                                <i class="devicon-html5-plain"></i>
                                <i class="devicon-heroku-original-wordmark"></i>
                                <i class="devicon-java-plain-wordmark"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="education">
                <div class="container-fluid">
                    <div class="jumbotron">
                        <div><h3 class="text-info">Education</h3></div>
                        <h4>Marist College</h3>
                            <div>Bachelor of Computer Science</div>
                            <div><p class="text-primary">August 2016 - May 2020</p></div>

                        <h4>John Jay Senior Highschool</h4>
                            <div>Advanced Regents Degree</div>
                            <div><p class="text-primary">September 2012 - June 2016</p></div>
                        </div>
                    </div>
            </div>
    </body>
