<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="author"             content="Daniel Nicolas Gisolfi" />
        <title>Daniel Gisolfi</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='assets/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='assets/favicon/safari-pinned-tab.svg') }}" color="#2c4e58">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ url_for('static', filename='vendors/jquery.min.js') }}"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- THEME -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" >

    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">Daniel Gisolfi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarScalable" aria-controls="NavbarScalable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="NavbarScalable">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" >
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('static', filename='assets/docs/Resume.pdf')}}">Resume</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="https://github.com/dgisolfi">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/dgisolfi/">linkedin</a>
                </li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="container-fluid" style="padding-top:10rem;">
           
            <div class="container justify-content-center">
                    <h1 class="display-4 text-center">Projects</h1>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card text-white bg-dark mb-4">
                            <div class="card-header">Language Development Environments</div>
                            <div class="card-body bg-dark">
                                <p class="card-text">A collection of Docker images and source code to create development environments for various programming languages.</p>
                                <p>The Source Code for this project can be found on <a class="text-info" href="https://github.com/dgisolfi/LanguageDevEnvironments">GitHub</a>.</p>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-4" >
                            <div class="card-header bg-dark">Miele Pot</div>
                            <div class="card-body bg-dark">
                                <p>A basic honeypot that gathers data on attempted logins and attacks.</p>
                                <p>The Source Code for this project can be found on <a class="text-info" href="https://github.com/dgisolfi/MielePot">GitHub</a>.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-4" >
                            <div class="card-header bg-dark">DOS</div>
                            <div class="card-body bg-dark">
                                <p>A Typescript OS created for Fall 2018 Operating Systems class. The latest release of DOS can be found running <a class="text-info" href="/DOS">here.</a></p>
                                <p>The Source Code for this project can be found on <a class="text-info" href="https://github.com/dgisolfi/DOS">GitHub</a>.</p>
                            </div>
                        </div>
                    </div>

                </div>
                
                

            <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-4" >
                            <div class="card-header bg-dark">Chatbot API</div>
                            <div class="card-body bg-dark">
                                <p>Created a ChatBot API in order to send, receive, and interact with GroupMe Bots. This allows for new bots to register with the API and send to any known group chat.</p>
                                <p>The Source Code for this project can be found on <a class="text-info" href="https://github.com/dgisolfi/ChatbotAPI">GitHub</a>.</p>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-4" >
                            <div class="card-header bg-dark">Marty Groupme Chatbot</div>
                            <div class="card-body bg-dark">
                                <p>A Python bot using my custom <a class="text-info" href="https://github.com/dgisolfi/ChatbotAPI">Chatbot API</a> to interact with users in GroupMe. The bot uses string manipulation to determine incoming messages, mark them as read, and reply if necessary.</p>
                                <p>The Source Code for this project can be found on <a class="text-info" href="https://github.com/dgisolfi/MartyGroupmeChatbot/tree/marty_v3">GitHub</a>.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-4" >
                            <div class="card-header bg-dark">Marist Classroom Directory</div>
                            <div class="card-body bg-dark">
                                <p>A web app that stores and retrieves details about the hardware and software within each classroom on the Marist campus, intended for use by the Marist college help desk.</p>
                                <p>The Source Code for this project can be found on <a class="text-info" href="https://github.com/dgisolfi/MaristClassroomDirectory">GitHub</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </body>
    <p class="footerText" style="clear:both;
                            color: black; 
                            font-family: Arial, 
                            Helvetica, sans-serif;
                            font-size: 14pt;
                            text-align: center;">
        <br>
        Copyright &copy; 2018 Daniel Gisolfi
        <br>
        <a class="text-info" href="https://github.com/dgisolfi/PersonalWebsite">Source Code</a>
        | Made by <a class="text-info" href="http://www.dgisolfi.xyz">Daniel Gisolfi</a>.
        Code released under the <a class="text-info" href="https://github.com/dgisolfi/PersonalWebsite/blob/master/LICENSE">MIT License</a>.
    </p>
</html>
